{% extends "base.html" %}
{% block page_content %}
   <div class="mw6 center pa3 san-serif" >
    {% if d %}
        <h1>Driver</h1>
            <div class="pa2 mb3 striped--near-white">
                <div class="pl2">
                    <h1>{{d.name}}</h1>
                    <p class="mb2"><b>Licencia:</b>{{d.license}}</p></br>
                    <a class="boton" href="{% url 'index' %}">Regresar</a>
                </div>
            </div>  
    {% else %}             
        <h1>No Existe Por Ahora Driver</h1>
    {% endif %}    
   </div> 
{% endblock %}
