{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5 mb-3">
    <h1>{{vuelo}}</h1>
     <div class="row">
         <div class="col-md-4">
             <div class="card p-3 mb-2">
                 <div class="d-flex justify-content-between">
                     <div class="d-flex flex-row align-items-center">
                         <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                         <div class="ms-2 c-details">
                             <h6 class="mb-0">Precio:{{vuelo.precio}}</h6> 
                         </div>
                     </div>
                     <div class="badge"> <span>Duracion:{{vuelo.duracion}} Dias</span> </div>
                 </div>
                 <div class="mt-5">
                     <img src={{vuelo.foto.url}} class="img-thumbnail" />

                     <div class="mt-5">
                        <div class="mt-3"> 
                          {{vuelo.descripcion}}
                        </div> 
                    </div>
                     <h3 class="heading">  
                       <a href="{% url 'index' %}"> Retornar </a>
                       </h3>
                 </div>
             </div>
         </div>
        </div>   
   <hr>
   <h1>Pasajeros</h1>
   <div class="row row-cols-1 row-cols-md-3">
     {% for pasajero in pasajeros %}
        <div class="col mb-4">
            <div class="card">
                <img src="{% static  'img/sinfoto.png' %}" style="width:100px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{pasajero}}</h5>  
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>  
            </div>
        </div>
        {% endfor %}  
    </div> 
    
   <hr>

  
   {% if no_pasajeros %}
    <form action="{% url 'reservar' vuelo.id %}" method="post">
        {% csrf_token %}
        <select name="pasajero">
            {% for pasajero in no_pasajeros %}
                <option value="{{pasajero.id}}">{{pasajero}}</option>
            {% endfor %}  
        </select>    
         <input type="submit" class="btn btn-primary" value="Reservar un Vuelo" >
    </form> 

   {% else %} 
            <div>Todos Los Pasajeros ya estan en ese Vuelo</div>
   {% endif %}   
{% endblock%} 
